/João Gabriel Gois Soares - Curso Aprender a aprender_ técnicas para seu autodesenvolvimento - Alura.pdf
/João Gabriel Gois Soares - Curso Foco_ trazendo mais resultados para o dia a dia - Alura.pdf
/João Gabriel Gois Soares - Curso JavaScript e HTML_ desenvolva um jogo e pratique lógica de programação - Alura.pdf
/João Gabriel Gois Soares - Formação - Alura.pdf
/linkedin
/primeiro_programa_javascript_html